* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#000
}

.cabecalho nav {
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
    border-bottom: 1px solid rgba(0, 255, 255, 0.3);
}

.cabecalho nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cabecalho nav ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.cabecalho nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.cabecalho nav ul li a a:hover {
    color: aqua;

}

.logo-nav {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transform: scaleX(3px)
}

.principal h2 {
    font-family: 'playfair display', serif;
    font-weight: 700;
    font-size: 4.5em;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.5), 0 0 10px rgba(255, 215, 0, 0.1);
    color: #333;

}

.agenda {
    color: #ffffff;
}




.agenda-nome {
    font-family: 'playfair display', serif;
    font-weight: 700;
    font-size: 4.5em;
    line-height: 0.95;
    text-transform: uppercase;
    margin: 0;
    background: linear-gradient(180deg, #fcf6ba 0%, #b38728 50%, #fcf6ba 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow: 0 0 5px rgba(255, 215, 0, 0.2),
   0 0 1px #9c8458,
   2px 2px 3px rgba(0, 0, 0, 0.4);
    
}

.principal {
    height: 80vh;
    overflow: hidden;
    padding: 120px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.video-fundo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 70%;
    object-fit: cover;
    z-index: -1;
 object-position: center center;
}




