* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#000
}

.cabecalho nav {
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
    border-bottom: 1px solid rgba(0, 255, 255, 0.3);
}

.cabecalho nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cabecalho nav ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.cabecalho nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.cabecalho nav ul li a a:hover {
    color: aqua;

}

.logo-nav {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transform: scaleX(3px)
}

.principal h2 {
    font-family: 'playfair display', serif;
    font-weight: 700;
    font-size: 4.5em;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.5), 0 0 10px rgba(255, 215, 0, 0.1);
    color: #333;

}

.agenda {
    color: #ffffff;
    margin-left: 20px ;
}




.agenda-nome {
    font-family: 'playfair display', serif;
    font-weight: 700;
    font-size: 4.5em;
    line-height: 0.95;
    text-transform: uppercase;
    margin: 20px;
    background: linear-gradient(180deg, #fcf6ba 0%, #b38728 50%, #fcf6ba 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow: 0 0 5px rgba(255, 215, 0, 0.2),
   0 0 1px #9c8458,
   2px 2px 3px rgba(0, 0, 0, 0.4);
    
}

.principal {
    height: 80vh;
 overflow: visible;
    padding: 120px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.video-fundo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 70%;
    object-fit: cover;
    z-index: -1;
 object-position: center center;
}

.navegador {
    background-color:#ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.navegador nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navegador nav ul li a {
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    font-size: 1.05em;
    padding: 5px 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navegador nav ul li a:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

/*titulo grande*/

.contatos-titulo {
    font-size: 4.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 5px;
    color: #00eaff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
    font-family: 'Playfair Display', serif;
}
/*container geral*/

.contatos-section {
        padding: 120px 20px;
    background: radial-gradient(circle at center, #00111a 0%, #000000 100%);
    position: relative;
    overflow: hidden;
}
/*área onde fiam os icones + linhas*/
.contatos-container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}
/*cada icone*/

.contato-item {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: arial, sans-serif;
}

/*ajuste individuais dos icones*/ 
    #c-whatsapp {left: 100px; top: 60px;}
    #c-instagram {left: 450px; top: 0;}
    #c-facebook {left: 800px; top: 60px;}

.icon-box {
    width: 80px;
    height: 80px;
    border: 2px solid rgba(0, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transfrom .3s ease, box-shadow .3s ease;
}
.icon-box img {
    width: 45px;
}
.icon-box:hover {
    transform: scale(1.12);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
}

/*svg das linhas*/
 .lines-svg {
    position: relative;
    z-index: -1;
 }

 .linha-futurista {
    fill: none;
    stroke: #00eaff;
    stroke-width: 3;
    opacity: 0.6;
    filter: drop-shadow(0 0 6px #00eaff);
 }

 /*animação do pulso*/

 .pulso {
    fill: #00eaff;
    filter:drop-shadow(0 0 10px #00eaff);
 }

.biblia-titulo h2 {
   position: relative;
    z-index: 9999; /* garante que aparece acima do vídeo */
    color: #fff; /* pode ajustar se quiser */
 
}

.biblia-titulo {
   position: relative;
   z-index: 9999;
   color: #fff;
}
.biblia {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(137, 43, 226, 0.221);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start
}

.logo-biblioteca {
    width: 400px;
}


